body {
    background: url('../playscreen.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#startGame {
    width: 200px;
    height: 50px;
    background-color: #8B6746;
    outline: none;
    color: #000000;
    border: 4px solid #000000;
    border-radius: 7px;
    font-family: font;
    font-size: 25px;
    margin: auto;
    box-shadow: 0 1px 20px 0 #B88B39, 0px -1px 20px 0px #B88B39, 5px 0 20px 0 #733311, -5px 0 20px 0 #733311;
}

#startGame:hover {
    background-color: #C39C78;
    box-shadow: 0 4px 20px 0 #B88B39, 0px -4px 20px 0px #B88B39, 15px 0 20px 0 #733311, -15px 0 20px 0 #733311;
}

.manhut {
    position: absolute;
    bottom: 1%;
    right: 1%;
}
.inp {
    position: absolute;
    left: 6%;
    top: 8%;
    padding: 5px 20px;
    width: 14%;
    color: black;
    background-color: #AC8F63  ;
    border: 4px solid #000000;
    border-radius: 7px;
    font-size: 20px;
}
.inp:focus{
  outline: none !important;
  border: 4px solid #000000;
  border-color: black;
}

#submitButton {
    /*width: 7.8%;*/
    position: absolute;
    padding: 5px 50px ;
    background-color: #AC8F63  ;
    outline: none;
    color: #000000;
    border: 4px solid #000000;
    border-radius: 7px;
    font-family: font;
    font-size: 20px;
    margin: auto;
    left: 9%;
    top: 16%;
}

#submitButton:disabled, #submitButton:disabled:hover {
    background-color: #594432;
}

#submitButton:hover {
    background-color: #BEB3A0;
}

#pollButton {
    padding: 5px 50px ;
    background-color: #AC8F63  ;
    outline: none;
    color: #000000;
    border: 4px solid #000000;
    border-radius: 7px;
    font-family: font;
    font-size: 25px;
    margin: auto;
    position: absolute;
    left: 6%;
    top: 61%;
}
.tajmer{
    display: block;
    position: absolute;
    padding: 5px 40px;
    top: 40%;
    left: 11%;
    width: 20%;
    font-size: 40px;
}
#pollButton:hover {
    background-color: #BEB3A0;
}

#pollButton:disabled:hover, #pollButton:disabled {
    background-color: #594432;
}

.content {
    position: absolute;
    top: 33%;
    width: 98%;
}

.button-container {
    font-family: font;
    margin: 0 auto;
    width: 200px;
}



img {
    position: relative;
    width: 100%;
    height: 100%:
}

.imgs {
    cursor: pointer;
    overflow: hidden;
    display: block;
    -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, .5);
}

.imgs img {
    -webkit-transition: all 4s;
}

.imgs.scale img {
    -webkit-transform: scale(2);
}

.txt {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 36%;
    top: 15%;
    width: 22%;
    height: 60%;
    font-size: 18px;
    overflow-y: scroll;
    resize: none;
    font-family: font;
    border: none;
}


#rules{
  position: absolute;
  left: 2%;
  top: 4%;
  padding: 10px 10px;
  width: 21%;
  height: 57%;
  border: 20px solid #000000;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.55);
  color: black;
  border: none;
  font-family: font;
  font-size: 20px;
  border: none;
  resize: none;

}

.fit{
  height: 100%;
  width: 100%;
}

.center {
  display: block;
  margin: auto;
}
@font-face {
    font-family: font;
    src: url('font2.ttf');
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}



.mojmodal {
    background-image: url('../imgs/modalimg.jpg');
    background-position: center;
    position: fixed;
    width: 300px;
    height: 200px;
}

.mojmodalsve {}

.myButton {
    background-color: #c7b487;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: font;
    font-size: 16px;
    padding: 18px 36px;
    text-decoration: none;
    margin-top: 10%;
}

.myButton:hover {
    background-color: #DABC8D;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#modalpara {
    margin-top: 20px;
    font-family: font;
    font-size: 24px;
}
