#startGame {
    width: 200px;
    height: 50px;
    background-color: #8B6746;
    outline: none;
    color: #000000;
    border: 4px solid #000000;
    border-radius: 7px;
    font-family: font;

    font-size: 25px;
    margin: auto;
    box-shadow: 0 1px 20px 0 #B88B39, 0px -1px 20px 0px #B88B39, 5px 0 20px 0 #733311, -5px 0 20px 0 #733311;
}

#startGame:hover {
    background-color: #C39C78;
    box-shadow: 0 4px 20px 0 #B88B39, 0px -4px 20px 0px #B88B39, 15px 0 20px 0 #733311, -15px 0 20px 0 #733311;
}

#submitButton{
  width: 150px;
  height: 40px;
  background-color:#AD9C7F;
  outline: none;
  color: #000000;
  border: 4px solid #000000;
  border-radius: 7px;
  font-family: font;


  font-size: 20px;
  margin: auto;

}
#submitButton:disabled {
  background-color: #594432;
}
#submitButton:disabled:hover {
  background-color: #594432;
}

#submitButton:hover {
    background-color: #BEB3A0;

}


.content {

    position: absolute;
    top: 33%;
    width: 98%;
}

.button-container {
  font-family: font;
    margin: 0 auto;
    width: 200px;
}

.fit {
  width: 100%;
  height: 100%;
}
.center {
  display: block;
  margin: auto;
}
img {
    position: relative;
    width: 100%;
    height: 100%:
}
.imgs {
    cursor: pointer;
    overflow: hidden;
    display: block;

    -webkit-box-shadow: 0 0 22px rgba(0,0,0,.5);
}
.imgs img {
    -webkit-transition: all 4s;
}
.imgs.scale img {
    -webkit-transform: scale(2);
}

.txt {
  background-color:rgba(0,0,0,0);
  position: absolute;
  left: 35%;
  top: 11.1%;
  width: 22%;
  height:60%;
  font-size: 18px;
  overflow-y: scroll;
  resize: none;
  font-family: font;
  border: none;
}

.inp {
  position: absolute;
  left: 6%;
  top: 8%;
  height: 5%;
  width: 14%;
  color: black;
  background-color: #BEB3A0;
  border: 4px solid #000000;
  border-radius: 7px;
  font-size: 25px;

}
.unesi{
  position: absolute;
  left: 7.5%;
  top: 16%;
  height: 4%;
  width: 6%;
  background-color: rgba(250,250,250,0.9);
}
@font-face {
    font-family: font;
    src: url('font2.ttf');
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#pollButton{
  width: 200px;
  height: 40px;
  background-color:#AD9C7F;
  outline: none;
  color: #000000;
  border: 4px solid #000000;
  border-radius: 7px;
  font-family: font;


  font-size: 20px;
  margin: auto;

  position: absolute;
  left: 5%;
  top: 61%;
}

#pollButton:hover {
    background-color: #BEB3A0;

}

#pollButton:disabled:hover {
  background-color: #594432;
}

.mojmodal{
  background-image: url('../imgs/modalimg.jpg');
  background-position: center;
  position: fixed;
  width: 300px;
  height: 200px;
}

.mojmodalsve{

}

.myButton {
	background-color:#c7b487;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
  font-family: font;
	font-size:16px;
	padding:18px 36px;
	text-decoration:none;
  margin-top: 10%;
}

.myButton:hover {

	background-color:#DABC8D;
}
.myButton:active {
	position:relative;
	top:1px;
}

#modalpara{
  margin-top: 20px;
  font-family: font;
  font-size: 24px;
}
